{% extends 'base.html' %}

{% block app_content %}
    <div class="row">
        <div class="col-md-4">
            <!-- Empty column -->
        </div>

        <div class="col-md-4">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label () }} <br>
                    {{ form.email(size=32) }} <br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">
                            {{ error }}
                        </span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit(class='btn bg-primary-w-100') }}
                </p>
            </form>
        </div>

        <div class="col-md-4">
            <!-- Empty column -->
        </div>
    </div>
{% endblock %}