{% extends 'base.html' %}

{% block app_content %}
<div class="row">
    <div class="col-md-4">
        <!-- Empty column -->
    </div>

    <div class="col-md-4">
        <form action="" method="Post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label }} <br>
                {{ form.password(size=32) }} <br>
                {% for error in form.password.errors %}
                    <span style="color: red;">
                        {{ error }}
                    </span>
                {% endfor %}
            </p>
            <p>
                {{ form.confirm_password.label }} <br>
                {{ form.confirm_password(size=32) }} <br>
                {% for error in form.confirm_password.errors %}
                <span style="color: red;">
                    {{ error }}
                </span>
                {% endfor %}
            </p>
            <p>
                {{ form.submit(class='btn bg-primary-w-100') }}
            </p>
        </form>
    </div>

    <div class="col-md-4">
        <!-- Empty column -->
    </div>

</div>
{% endblock %}